{% block stylesheets %}
    <link rel="stylesheet" href={{asset("assets/css/style.css")}}>
    <link rel="stylesheet" href={{asset("assets/css/lec.css")}}>
    
    <link rel="stylesheet" href={{asset("assets/css/collaps.css")}}>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/450c9bb9e7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock %}
{% block body %}
<body style="background-color: rgb(2, 2, 39); height: 98%; width: 96%;">
    

    
         <div class="asideNav" id="asideNav" onmouseenter="f1()" onmouseleave="f2()">
            
            {% include "aside.html.twig" %}
        </div>
        <div class="main" id="main" style="margin-top:-2px ; padding-top: 8px; overflow-y: scroll;">
                {% include "navii.html.twig" %}
                
                {% for row in cours %}
                <div class="titre">
                    {{row.nom}}
                    <div class="progress" >
                        <div class="progress-bar progress-bar-striped " style="background-color: cadetblue;" id="prog" role="progressbar"  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">{{row.progres}}%</div>
                </div>
                <script>
                    const prog=document.getElementById('prog').style.width='{{row.progres}}%';
                </script>
                </div>
            <div class="ntt">
                <div class="collaps" style="height: fit-content;">
                    {% for ch in c  %}   
                        <button type="button" class="collapsible" style="font-size:1.3rem;
                                font-weight:650;">{{ch.nom}}</button>
                        <div class="content" >
                            {% for lec in l %}
                                {% if lec.idCh == ch.id %}
                                    <p> 
                                        <a class="mmm" style="font-size: 1.2rem;" href="{{path('lecon',{'id':row.id,'idLec':lec.id})}}">
                                            - {{ lec.nom}} 
                                        </a> 
                                        <i id="{{lec.id}}" style="font-size: 15px;" class="fa-solid fa-check"></i>
                                    </p>
                                    
                                    {% if lec.lu==1 %}
                                    
                                    <script>
                                        
                                        document.getElementById('{{lec.id}}').style.color="green";
                                    </script>
                        
                    {% endif %}    
                                {% endif %} 
                                
                            {% endfor %}                      
                        </div> 
                    {% endfor %}
                </div>
                
                <div class="courr"  style="background-color: rgb(245, 245, 211);">
                    
                    {% for det in detL %}
                    <div class="read" style="background-color: rgba(253, 240, 217, 0.363);">
                        <h5 style="font-weight: 600; font-size: 18px;margin-left: 20px;">{{ det.nom}}</h5>
                        <div class="lu">
                            <form action="" method="post" id="btnr"> <button type="submit" value="read" name="read" style="border: 1px solide green; margin-right: 50px;" onclick="read()" class="btn btn-outline-success ">Marquer comme lu</button></form>
                            <div  id="check" class="disp"><i style="color: green; font-size: 3.5rem; margin-right: 70px;"class="fa-solid fa-circle-check "></i></div>
                        </div>
                    </div>
                   
                    
                    <div class="contnt">
                        
                        <div class="vid" style=" display: flex; justify-content: center; width: 90%; margin: 0 auto;" >
                            <video style="width: 100%; height: 450px;"  controls src="assets/video/{{det.video}}" type="video/mp4"></video>
                        </div>
                        <div class="desc" >
                            
                            {{det.descr}}
                        </div>
                    </div>
                    {% if det.lu==1 %}
                    <script>
                        const check=document.getElementById('check');
                        const btnr=document.getElementById('btnr');
                        check.classList.remove('disp');
                        btnr.classList.add('disp');
                    </script>
                        
                    {% endif %}
                    {% endfor %}
                    
                    
                </div>
                        
            </div>
            {% endfor %}
        </body>
        
{% endblock %}

<script>
   
    const main=document.getElementById("main");
        const nav=document.getElementById("nav");
        const asideNav_span1=document.getElementById("asideNav_span1");
        const asideNav_span2=document.getElementById("asideNav_span2");
        const asideNav_span3=document.getElementById("asideNav_span3");
        const asideNav_span4=document.getElementById("asideNav_span4");

       function f1(){
        console.log('hi');
        main.classList.add("active");
        nav.classList.add('ac')
        asideNav.classList.add('ac')
        asideNav_span1.style.color="white"
        asideNav_span2.style.color="white"
        asideNav_span3.style.color="white"
        asideNav_span4.style.color="white"

        
       }
       function f2(){
        console.log('bye');
        main.classList.remove("active");
        nav.classList.remove('ac')

       }
   
   function read(){
        check.classList.remove('disp');
        btnr.classList.add('disp');
   }
   var coll = document.getElementsByClassName("collapsible");
   var i;
                 
   for  ( i = 0; i < coll.length; i++) {
     coll[i].addEventListener("click", function() {
       this.classList.toggle("active");
       var content = this.nextElementSibling;
       if (content.style.maxHeight){
         content.style.maxHeight = null;
       } else {
         content.style.maxHeight = content.scrollHeight + "px";
       }
     });
   }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>